.header {
  width: 100%;
  height: 1000px;
  background-color: #a9e8ac;
  text-align: center;
}

.header2 {
  width: 100%;
  height: 1000px;
  background-color: #eda1db;
}

.portfolio {
  width: 530px;
  height: 5px;
  background-color: black;
  margin: 0 auto;
}

.yulissa {
  width: 530px;
  margin: 0 auto;
}
